.button-clear {
  height: 80px;
  font-size: 1.6em;
  display: flex;
  flex: 1 1;
  background-color: #ac0246;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 20px;
  cursor: pointer;
  user-select: none;
}

.button-clear:hover {
  background-color: #ebb000;
}
